# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.nar
*.ear
hs_err_pid*
replay_pid*

# Node
node_modules/
.next/
out/
dist/
*.tsbuildinfo
.pnpm-store/

# Env / secrets
.env
.env.local
.env.*.local
!.env.example

# IDE
.idea/
*.iml
.vscode/*
!.vscode/extensions.json
*.swp

# OS
.DS_Store

# Logs
*.log

# Test / coverage
coverage/
.nyc_output/

# Quarkus
.quarkus/

# Authelia local runtime
infra/authelia/runtime/*
!infra/authelia/runtime/.gitkeep

# Gateway TLS (mkcert)
infra/gateway/tls/*
!infra/gateway/tls/.gitkeep
